body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

.container {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-section,
.footer {
  background-color: #2F303A;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.customers, .features, .mobile-social, .auth-nav, .site-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.customers__link, .form-checkbox__link, .mobile-social .link, .auth-nav .contacts, .site-nav .link, .logo {
  text-decoration: none;
}

/* logo-style  */
.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.nav > a {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-web {
  color: #2196F3;
}

.footer-logo {
  color: #FFFFFF;
}

.link-footer {
  display: inline-block;
  margin-bottom: 20px;
}

/* navigation */
.page-header {
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

.page-header .nav {
  display: flex;
  align-items: center;
  max-height: 60px;
}
@media screen and (max-width: 767px) {
  .page-header .nav {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .page-header .nav {
    max-height: 80px;
  }
}

.site-nav {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: 306px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    font-size: 14px;
    line-height: 1.1;
    display: flex;
    margin-left: 90px;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 92px;
  }
}
@media screen and (max-width: 767px) {
  .site-nav .item {
    margin-bottom: 32px;
  }
  .site-nav .item:last-child {
    margin-bottom: 0;
  }
}
.site-nav .link {
  color: #212121;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.site-nav .link:hover, .site-nav .link:focus {
  color: #2196F3;
}
.site-nav .link.current {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .site-nav .link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: #2196F3;
    border-radius: 2px;
  }
}

.auth-nav {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: flex;
}
@media screen and (max-width: 767px) {
  .auth-nav {
    flex-direction: column-reverse;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    font-size: 12px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    flex-direction: column;
    justify-content: center;
    margin-left: 96px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .auth-nav .item {
    margin-bottom: 64px;
  }
  .auth-nav .item:last-child {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav .item {
    margin-bottom: 10px;
  }
  .auth-nav .item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    font-size: 14px;
    margin-left: 322px;
  }
  .auth-nav .item + .item {
    margin-left: 30px;
  }
}
.auth-nav .contacts {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .auth-nav .contacts {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav .contacts {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.auth-nav .contacts:hover, .auth-nav .contacts:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .mail {
    padding-top: 21px;
  }
  .phone {
    padding-bottom: 21px;
  }
}
@media screen and (max-width: 767px) {
  .auth-nav .phone {
    font-size: 34px;
  }
}
.icon-auth {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .icon-auth {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .icon-auth {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav .phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
}
.mobile-social {
  display: inline-flex;
  align-items: center;
}
.mobile-social .link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.mobile-social .item {
  margin-right: 20px;
}
.mobile-social .item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .mobile-social {
    display: none;
  }
}
.menu {
  display: flex;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: #2196F3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #FFFFFF;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* main section */
.main-section {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .main-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.main-title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.4;
    max-width: 696px;
  }
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hw-4/bg-image.jpg);
  background-color: #C4C4C4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  z-index: 1;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0);
}

.modal {
  width: 450px;
  height: 609px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover, .close-button:focus, .close-button:active {
  fill: #2196F3;
  border: 1px solid #2196F3;
}

.form {
  padding: 40px;
}

.form__text {
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .form__text {
    line-height: 1.2;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form-field + .form-field {
  margin-top: 10px;
}
.form-field:focus-within > .form-field__icon, .form-field:hover > .form-field__icon {
  fill: #2196F3;
}

.form-field__label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 4px;
}

.form-field__input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 12px;
  padding-left: 42px;
}

.form-field__textarea {
  padding: 12px 16px;
  width: 100%;
  height: 138px;
  resize: none;
}
@media screen and (min-width: 1200px) {
  .form-field__textarea {
    height: 116px;
  }
}

.form-field__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:focus, .form-field__input:hover {
  border: 1px solid #2196F3;
}

.form-field__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__textarea:focus, .form-field__textarea:hover {
  border: 1px solid #2196F3;
}
.form-field__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__inputs {
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-field input:focus ~ .icon-input {
    fill: $accent-color;
} */
/* .checkbox-input {
    appearance: none;
    position: absolute;
} */
.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-checkbox__link {
  color: #2196F3;
  display: inline-block;
  position: relative;
}
.form-checkbox__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 4px;
  background: #2196F3;
}

.form-checkbox__text {
  margin-left: 7px;
}

.form-checkbox__check-border {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox__check {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox__input:checked + .form-checkbox__icon > .form-checkbox__check {
  opacity: 1;
  fill: #2196F3;
}

.form-checkbox__input:checked + .form-checkbox__icon > .form-checkbox__check-border {
  opacity: 0;
}

/* features - section 2 */
.features__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .features__item:nth-child(2n) {
    margin-left: 30px;
  }
  .features__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
  .features__item + .features__item {
    margin-left: 30px;
  }
}
.features__text {
  margin-bottom: 0;
}

.features__box {
  height: 120px;
  background: #F5F4FA;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* regular customers - section 5 */
.customers {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .customers {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .customers__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .customers__item:nth-child(2n) {
    margin-left: 30px;
  }
  .customers__item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .customers__item {
    margin-right: 30px;
  }
  .customers__item:nth-child(3n+3) {
    margin-right: 0;
  }
  .customers__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
  }
  .customers__item + .customers__item {
    margin-left: 30px;
  }
}
.customers__link {
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid #2196F3;
  fill: #2196F3;
}/*# sourceMappingURL=main.css.map */